<div class="container-fluid form-background">
  <div class="row justify-content-sm-center">
    <div class="form-text-large">

        <h2 class="form-header">Change Password</h2>

        <p class="loginalert"><%= devise_error_messages! %></p>
        <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

          <div class="field">
            <%#= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: 'edit_form', placeholder: 'Name@email.com' %>
          </div>
          <br>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <%#= f.label :current_password, class: 'edit_form' %>
            <%= f.password_field :current_password, autocomplete: "off", class: 'edit_form', placeholder: 'Current password' %>
          </div>
          <br>
          <div class="field">
            <!-- <%#= f.label :password, class: 'edit_form' %> <i>(New)</i> -->
            <%= f.password_field :password, autocomplete: "off", class: 'edit_form', placeholder: 'New password (min 6)' %>
            <!-- <%# if @minimum_password_length %> -->
              <!-- <em><%#= @minimum_password_length %> characters minimum</em> -->
            <%# end %>
          </div>
          <br>
          <div class="field">
            <%#= f.label :password_confirmation, class: 'edit_form' %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'edit_form', placeholder: 'Confirm new password' %>
          </div>
          <br>
          <div class="actions">
            <%= f.submit "Update", class: 'button_style' %>
          </div>
        <% end %>
        <br>


        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button_style' %></p>

        <%= link_to "Back", :back %>

    </div>
  </div>
</div>
