<div class="container-fluid form-background">
  <div class="row justify-content-sm-center">
    <div class="form-text">
        <h2 class="form-header">Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

          <div class="field">
            <%#= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'edit_form', placeholder: 'name@email.com' %>
          </div>
          <br>
          <div class="field">
            <%#= f.label :password %>
            <%# if @minimum_password_length %>
            <!-- <em>(<%#= @minimum_password_length %> char min)</em> -->
            <%# end %>
            <%= f.password_field :password, autocomplete: "off", class: 'edit_form', placeholder: 'password (6 char min)' %>
          </div>
          <br>
          <div class="field">
            <%#= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'edit_form', placeholder: 'confirm password' %>
          </div>
          <br>

          <div class="actions">
            <%= f.submit "Sign up", class: 'button_style' %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
        <p class="loginalert"><%= devise_error_messages! %></p>

    </div>
  </div>
</div>
