<%= form_with(model: item, local: true, html: {multipart: true}) do |form| %>

    <div class="field">
     <%#= form.label :item_name, class: 'edit_form' %>
     <%= form.text_field :item_name, id: :item_item_name, class: 'edit_form', placeholder: 'Item name', required: true %>
    </div>
    <br>
    <div class="field">
      <%#= form.label :item_description, class: 'edit_form'  %>
      <%= form.text_area :item_description, id: :item_item_description, required: true, class: 'edit_form', placeholder: 'Description' %>
    </div>
    <br>
    <div class="field">
      <%#= form.label :price, class: 'edit_form'  %>
      <%= form.text_field :price, id: :item_price, required: true, class: 'edit_form', placeholder: 'Price'  %>
    </div>
    <br>
    <div class="imgfield">
      <%= form.label :add_image, "Update Image", class: 'edit_form' %>
      <%= form.file_field :image, id: :attach, class: 'add_image_button'%>
    </div>
    <br><br>
    <p>
    <%= link_to image_tag(@item.image.url(:large)), @item.image.url %>
    </p>

    <input type="hidden" name="item[sale_id]" id="sale_id" value="<%=@sale.id%>" >

    <div class="actions">
      <%= form.submit class: 'button_style' %>
    </div>
    <br>
<% end %>
