<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.item_description %></td>
        <td><%= item.price %></td>
        <!-- show does not work -->
        <td><%= link_to 'Show', sale_items_path(item) %></td>

        <td><%= link_to 'Edit', edit_sale_item_path(@sale.id, item.id) %></td>
        <!-- Destroy works -->
        <td><%= link_to 'Destroy', sale_item_path(@sale, item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<!-- Need to add link to add item here -->
