<br><br><br>
<div class="row justify-content-sm-center">
  <h1>Items</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Item Description</th>
      <th>Price</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.item_description %></td>
        <td><%= item.price %></td>

        <td><%= link_to 'Show Item', sale_item_path(item.sale_id, item.id) %></td>
        <td><%= link_to 'Edit Item', edit_sale_item_path(item.sale_id, item.id) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
