<br><br><br>
<h1>Show An Item</h1>

  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Item description:</strong>
  <%= @item.item_description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
<%= link_to image_tag(@item.image.url(:large)), @item.image.url %>
</p>

<%= link_to 'Edit', edit_sale_item_path(@item.sale, @item) %> |
<%= link_to 'Back', sale_path(@sale) %>
