<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :street, class: 'edit_form'  %><br>
    <%= form.text_field :street, id: :sale_street, class: 'edit_form'  %>
  </div>

  <div class="field">
    <%= form.label :city, class: 'edit_form'  %><br>
    <%= form.text_field :city, id: :sale_city, class: 'edit_form'  %>
  </div>

  <div class="field">
    <%= form.label :state, class: 'edit_form'  %><br>
    <%= form.text_field :state, id: :sale_state, class: 'edit_form'  %>
  </div>

  <div class="field">
    <%= form.label :zip, class: 'edit_form'  %><br>
    <%= form.text_field :zip, id: :sale_zip, class: 'edit_form'  %>
  </div>

  <div class="field">
    <%= form.label :date, class: 'edit_form'  %><br>

    <%= form.date_select :date, id: :sale_date, class: 'edit_form'  %>
  </div>

  <div class="field">
    <%= form.label :time, class: 'edit_form'  %><br>
    <%= form.text_field :time, id: :sale_time, class: 'edit_form'  %>
  </div>

  <div class="field"><br>
    <%= form.label :description, class: 'edit_form'  %>
    <%= form.text_area :description, id: :sale_description, class: 'edit_form'  %>
  </div>

  <input type="hidden" name="sale[user_id]" id="user_id" value="<%=@user.id%>" >

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
