<% if !(params[:item].nil? || params[:item].empty?) && @items_within_search.length == 0 && @sales_within_search.length == 0 %>
  <div class = "items-header"> <h4>No <%= @item %> found</h4>
  </div>
<%end %>

 <% if !(params[:item].nil? || params[:item].empty?) && (@items_within_search.length != 0 || @sales_within_search.length != 0) %>
   <div class="table-view">
   <h3><%= @item.upcase.titleize %> Found at these Sales:</h3>
     <table>
       <thead>
<!--          <tr>
           <th>Photo</th>
           <th>Item Description</th>
           <th colspan="3">Options</th>
         </tr> -->
       </thead>
       <tbody>
         <% @items_within_search.each do |item| %>
           <tr>
             <td><%= link_to image_tag(item.image.url(:med)), item.image.url %></td>
             <td><%= item.item_description %>  <%= item.price %></td>
             <td><%= link_to 'Show Sale Details', item.sale %></td>
           <% end %> <!-- ends for loop-->

         <% @sales_within_search.each do |sale| %>
           <tr>
             <td> No photo of <%= @item %> available</td>
             <td><%= sale.description%></td>
             <td><%= link_to 'Show Sale Details', sale %></td>
           <% end %> <!-- ends for loop-->
           </tr>

           </tr>

       </tbody>
       </table>
     </div> <!-- ends if params[:item] -->
 <% end %> <!-- ends table-view div-->

