<br>
<br>
<br>
<br>



<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-3">
      <p>Wrong city?<%= link_to ' Search again', root_path %></p>
    </div>
    <div class="nosale-message col col-sm-6">
      <% if @sales.length == 0 %>
          <h2>No sales in <%= @zip_or_city %></h2>
      <% end %>
    </div>
    <div class="col col-sm-3">
    </div>
  </div>
</div>

<div class="container map-page-content">
  <div class="search">
    <form method="get" remote="true" action="/sales">
      <input type ="hidden" name = "search" value = "<%= @zip_or_city %>">
      <span class="search-headers"><label for="textsearch">Search for Item in:  <%= @zip_or_city %></label></span><br>
      <input type="text" name="item" placeholder="Item" required pattern='.*\S+.*' oninvalid="this.setCustomValidity('Item search cannot be blank')" onchange="setCustomValidity('')">
      <input type="hidden" name="hidemap" value="hidemap">
      <input id="item-search" type="submit" value="Search">
    </form>
  </div>

       <div class="table-view">
       <h1>Sales in <%= @zip_or_city %> </h1>
       <table>
         <tbody>
           <% @sales.each do |sale| %>
           <tr>
             <td><%= sale.street %><br><%= sale.city %>, <%= sale.state %></td>
             <td><%= sale.description%></td>
             <td><%= link_to 'Show Sale Details', sale %></td>
           <% end %> <!-- ends for loop-->
           </tr>
         </tbody>
         </table>
       </div> <!-- ends if params[:item] -->

  <div id="itemstable-area">
    <%= render 'itemstable' %>
  </div>

</div>

