<% if @sales.length != 0 %>
<!-- Show the map if the hidemap params aren't there -->
  <div id="map"></div>
<% else %>
<% params[:hidemap].present? %>
<!-- Hide the map if hidemap params are there and create a spacer on top -->
  <div class="spacer"></div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col col-sm-3">
      <p>Wrong city?<%= link_to ' Search again', root_path %></p>
    </div>
    <div class="nosale-message col col-sm-6">
      <% if @sales.length == 0 %>
          <h2>No sales in <%= @zip_or_city %></h2>
      <% end %>
    </div>
    <div class="col col-sm-3">
    </div>
  </div>
</div>

<div id="item-search-box" class="container map-page-content">
  <div class="search">
    <form method="get" remote="true" action="/sales">
      <input type ="hidden" name = "search" value = "<%= @zip_or_city %>">
      <span class="search-headers"><label for="textsearch">Search for item in:  <%= @zip_or_city%></label></span><br>
      <input type="text" name="item" placeholder="Item" required pattern='.*\S+.*' oninvalid="this.setCustomValidity('Item search cannot be blank')" onchange="setCustomValidity('')">
      <input type="hidden" name="hidemap" value="hidemap">
      <input id="item-search" type="submit" value="Search">
    </form>
  </div>


<% if !params[:hidemap].present? %>
<!-- Hide the sales table after an items search -->
  <div class="table-view">
    <h2>All sales within <%= @zip_or_city%></h2>
     <table>
      <tbody>
        <% @sales.each do |sale| %>
         <tr>
           <td><%= sale.street %><br><%= sale.city %>, <%= sale.state %></td>
           <td><%= sale.description%></td>
           <td><%= link_to 'Show Sale Details', sale %></td>
         <% end %> <!-- ends for loop-->
        </tr>
      </tbody>
    </table>
  </div>

<% else %>
<% params[:hidemap].present? %>
<!-- Hide the sales table if hidemap params are there and create a spacer on top -->
  <div class="spacer"></div>
<% end %>

  <div id="itemstable-area">
    <%= render 'itemstable' %>
  </div>

</div>


<!-- ***** begins map markers *****-->
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

<script>

  // ---reload js when user clicks back button on browser---#TODO slows down page load..find another way.
  $(document).ready(function($){
     $(window).on('popstate', function(){
        location.reload(true);
     });
  });
  // ---reload js when user clicks back button on browser---


  var locations = []
  <% @sales.each do |sale| %>
    locations.push(
  			<%= raw [
  				sale.latitude,
  				sale.longitude,
  				sale.street.to_json.gsub('"',''),
  				sale.zip.to_json.gsub('"',''),
  				sale.date.to_json.gsub('"',''),
  				sale.time.to_json.gsub('"',''),
  				sale.description.to_json.gsub('"',''),
  				sale.id
  			] %>
  		)
  <% end %>

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: new google.maps.LatLng(locations[0][0],locations[0][1]),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][0], locations[i][1]),
      map: map
    });

    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
      return function() {
        infowindow.setContent(
  				'<strong>Street:</strong> ' + locations[i][2] + ' ' +
  				locations[i][3] + '<br/>' +
  				'<strong>Date:</strong> ' + locations[i][4] + '<br/>' +
  				'<strong>Time:</strong> ' + locations[i][5] + '<br/>' +
  				'<strong>Description:</strong> ' + locations[i][6] + '<br/>' +
  				' ' + '<a href="' + '../sales/' + locations[i][7] + '">Show</a>'
  			);
        infowindow.open(map, this);
      }
    })(marker, i));
  	google.maps.event.addListener(map, 'click', function() {
  		infowindow.close();
  	});
  }

</script>
<!-- ***** ends map markers *****-->
