<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table>
  <thead>
    <tr>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Date</th>
      <th>Time</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.street %></td>
        <td><%= sale.city %></td>
        <td><%= sale.state %></td>
        <td><%= sale.zip %></td>
        <td><%= sale.date %></td>
        <td><%= sale.time %></td>
        <td><%= sale.description %></td>
        <td><%= link_to 'Show', sale %></td>
      <% if @ability.can? :manage, :all %>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if @ability.can? :manage, Sale %>
  <%= link_to 'New Sale', new_sale_path %>
<% end %>
