








<!-- Map starts here -->


<!-- We pull address from this input -->
<input id="address" type="hidden" value="<%= @sale.street %>,<%= @sale.city %>,<%= @sale.state %>,<%= @sale.zip %>">

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('showmap'), {
    zoom: 12,
    center: {lat: 32.70961, lng: -117.1579991}
  });

  var geocoder = new google.maps.Geocoder();
  // document.getElementById('submit').addEventListener('click',
  function geocodeme() {
    geocodeAddress(geocoder, map);
  };
  geocodeme()
}

function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === 'OK') {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

</script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9nhXMWs8RXF_OXTGrVAB7x-msZVhahGw&callback=initMap">
</script>




<div class="container map-show">
  <div class="row">

  <div class="col col-lg-8">
    <div id="showmap"></div>
  </div>



<!-- Displays sale info: -->
  <div class="col col-lg-4">
    <h2>Sale Info:</h2>

    <p>
      <strong>Address: </strong>
      <%= @sale.street %>, <%= @sale.city %>, <%= @sale.state %>, <%= @sale.zip %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @sale.date.strftime("%m-%d-%Y") %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @sale.time %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @sale.description %>
    </p>

  </div>

  </div>
</div>

<div class="container show-page-items">

<p id="notice"><%= notice %></p>

<!-- Item view and form is below -->
<h2 class="items-header">Items for Sale</h2>
<%= render 'sales/modal' %>
<%#= render 'items/showitems' %>

</div>



    <div class="items-form">
      <div class="container-small">
        <% if @user.nil? %>
        <% else %>
        <% if @sale.user_id == @user.id %>
        <h2>Add Item:</h2>
        <%= render 'items/form' %>

      </div>
    </div>
    <div class="links col">

    <%= link_to 'Edit Items', sale_items_path(@sale) %> |
    <%= link_to 'Edit Sale', edit_sale_path(@sale) %> |
    <% end %>
    <% end %>
    <%= link_to 'Back', sales_path %>
    </div>
