<!DOCTYPE html>
<html>
  <head>

    <title>Garage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery', 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Muli" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>

    <div class="container-fluid">

        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-inverse bg-inverse" style="background-color: rgba(115,138,130, 0.8);">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"><%= image_tag("salelogo.png", :alt => "home image", :width => 90, :height => 40) %>
</a>
          </div>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Sales</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" data-method="get" href="/sales/new">Create Sale</a>
                    <a class="dropdown-item" data-method="get" href="/sales/mysales">View My Sales</a>
                  </div>
                </li>
                <% end %>
              </ul>
              <ul class="nav">
                <% if user_signed_in? %>
                  <li class="nav-item dropdown user-dropdown">
                    <a class="nav-link dropdown-toggle white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i>  User</a>

                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" data-method="get" href="/users/edit">Change password</a>
                    <a class="dropdown-item" data-method="delete" href="/users/sign_out">Log out</a>
                  </div>
                <% else %>
                  <li class="nav-item"><a class="nav-link" data-method="get" href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Host Sale</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" data-method="get" href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                  </li>
                <% end %>
              </ul>
          </div>
        </nav>
      </div>

    <%= yield %>

  </body>
</html>
